#title {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
#title a:visited{
    color: black;
}
#title a:link{
    color: black;
}

a {
    text-decoration: none;
}

#body {
    float: none;
    height: 90px;
    margin: 50px;
}

#Om_skolan {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

#larare {
    float: left;
    width: 600px;
    height: 90px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

#larare_kontakt {
    float: left;
    position: relative;
    text-align: left;
    margin-left: 5vw;
    margin-top: 7vw;
}

#valkommen {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

#kontaktaoss {
    float: left;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

html {
    background-color: whitesmoke;
}

#omskolan {
    position: relative;
    left: -50px;
    top: -25px;
}

#Kontakt {
    position: relative;
    left: -200px;
    top: -9px;
}


#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#links li {
    float: right;
}

#links a {
    display: inline-block;
    width: 268px;
}

#skolnyheter {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

